		
		
	<section class="footer bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-12">
					<div class="container">
						<h5>ABOUT</h5>
						<p style="font-size:12px !important;">
							We're committed to improving education management systems
							utilizing the latest industry standards.
						</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12">
					<div class="container">
						<h5>QUICK LINKS</h5>
						<ul>
							<li>
								<a href="About">About</a>
							</li>
							<li>
								<a href="Features">Features</a>
							</li>
							<li>
								<a href="Support">Support</a>
							</li>
							<li>
								<a href="Login">Login</a>
							</li>
							<li>
								<a href="Contact">Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12">
					<div class="container">
						<h5>OUR LATEST NEWS</h5>
						<p style="font-size:12px !important;">>> July 2022. Dev Started on School ERP Plus.</p>
						<p style="font-size:12px !important;margin-top:-20px;">>> Visit our src code repo on <a target="_blank" href="https://github.com/mhafez1978/role-based-node-api-server">GitHub</a></p>
					</div>
				</div>
				<div class="offset-1 col-lg-4 col-md-4 col-sm-12">
					<div class="container moveUp">
						<h3 style="font-style:italic !important;">MySchool ERP <sup>+</sup></h3>
						<p style="margin-top:-10px !important; line-height:1.1;">Complete School Management Solution</p>
						<p style="font-size:10px;margin-top:-20px !important;">MySchool ERP + USA, All rights reserved &copy;2022</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12"></div>
				<div class="col-lg-3 col-md-3 col-sm-12"></div>
				<div class="col-lg-3 col-md-3 col-sm-12"></div>
				<div class="col-lg-3 col-md-3 col-sm-12">
					<div class="container">
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
