<div class="row">
  <div class="col-lg-3 col-sm-12">
    <span class="logo">RBAC Node API</span>
  </div>
  <div class="col-lg-9 col-sm-12">
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/user">UserDashboard</a></li>
        <li><a href="/user/profile">Profile</a></li>
        <li><a href="/admin">AdminDashboard</a></li>
        <li><a href="/admin/manage/users">Manage Users</a></li>
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
