<%- include('./layouts/header') %>

<h1>Ooops, ... Error 404</h1>
<hr />
<h2>Not Found : <span style="color: red">404</span> Error</h2>
<p>So sorry we've encountered a problem.</p>
<button onClick="window.history.back()">Go Back</button>

<%- include('./layouts/footer') %>
