<%- include('./layouts/header') %>
<h1>Contact</h1>
<hr />
<button onClick="window.history.back()">Go Back</button>
<p>Welcome to my node.js RBAC role based access control application.</p>
<p>This is the Contact Page of the app ...</p>
<%- include('./layouts/footer') %>
