<%- include('./layouts/header') %>
<section id="hero" class="hero">
  <div class="overlay">
    <div class="hero-content">
      <div class="container">
        <div>
          <h1><span style="color:purple">MySchool</span> ERP <sup>+</sup> </h1>
          <h3>Modern, blazing fast School Management System.</h3>
          <p>We're focused on helping schools and admins manage all aspects of operations. Including managing students, teachers, courses, classes, payments, and more ...</p>
          <p>
            <button class="btn btn-outline mr-2">
              Login
            </button>
            <button class="btn btn-outline-purple">
              Request More Info
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="about">

</section>
<section id="features" class="features">

</section>
<section id="services" class="services">

</section>
<%- include('./layouts/footer') %>
