<%- include('./layouts/header') %>
<section>
  <div class="loginContainer">
    <div class="loginOverlay">
      <center>
        <h4 style="color:#fff !important;">Welcome Back</h4>
      </center>
      <div class="container">
        <div class="login" style="width:500px !important" class="login">
          <form class="form" method="post" action="/auth/login">
            <h2>Please Login</h2>
            <input type="text" name="email" id="" placeholder="Username/Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" value="Login" class="submit">
          </form>
          <p>
            <center style="color:#fff">
              Not a member yet ? Register <a style="color:#fff" href="/auth/register">here</a>
            </center>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('./layouts/footer') %>
