<%- include('./layouts/header') %>
<section id="hero" class="hero">
  <div class="overlay">
    <div class="hero-content">
      <div class="container">
        
      </div>
    </div>
  </div>
</section>
<%- include('./layouts/footer') %>
