<%- include('./layouts/header') %>

<button onClick="window.history.back()">
  Go Back
</button>
<div>
  <p>ID</p>
  <p></p>
</div>
<div>
  <p>Email/Username</p>
  <p></p>
</div>
<div>
  <p>Role</p>
  <p></p>
</div>
<div>
  <p>User Object</p>
  <p></p>
</div>

<%- include('./layouts/footer') %>
