* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: purple;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active,
a:visited {
  color: #222;
}

.logo {
  color: #222;
  font-size: 26px;
  border: 1px solid green;
  font-size: 2em;
}
.navbar ul {
  border: 1px solid green;
  width: 100%;
  text-align: right;
  vertical-align: middle;
  height: 2em;
}
.navbar ul li {
  display: inline;
}
